body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

:root {
  --blue: #1B72E8;
  --blue-bedge: #165BBA;
  --dark-blue: #0C253B;
  --gray: #E5E5E5;
  --icon-gray: #5B5858;
  --hover-nav-gray: #848F98;
}


.debug {
  border: 1px solid black;
  background-color: rgba(230, 176, 134, 0.2);
}

/* /debug class */

/* utilities */
.point {
  cursor: pointer;
}

.bg_blue {
  background-color: var(--blue);
}


.blue-bedge {
  background-color: var(--blue-bedge);
  padding: 5px;
}

.blue-bedge:hover {
  background-color: #0f3f83;
}

.main-size {
  font-size: .7rem;
}

.no_bold {
  font-weight:400;
}

.t-size {
  width: 120px;
}

.no_wrap {
  flex-wrap: nowrap;
}


/* utilities */



  /* header navbar */
.input_sp {
  background-color: var(--gray);
  font-size: .8rem;
}

.icon.bell:hover {
  color: orange;
}

.icon {
  color: var(--icon-gray)
}

.logo-desktop {
  width: 150px;
}

  /* header navbar */
  

  /* main section  */



  main {
    height: 100vh;
    width: 100%;
    padding-top: 80px;
  }
  
  main aside {
    width: 80px;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--dark-blue);
  }
  
  main .container_ {
    width: calc(100% - 80px);
    overflow: auto;
  }

     /* aside  */

  .nav-item_sp:hover {
    background-color: var(--hover-nav-gray);
  }

     /* //aside  */

 /* main section  */


/* --media queries-- */
@media all and (min-width: 768px) {
  
  main aside {
   width: 50px;
  }
  main .container_ {
   width: calc(100% - 50px);
   overflow: auto;
 }
 }
 
 @media all and (min-width: 992px) {

  main {
    padding-top: 70px;
  }

  main aside {
   width: 145px;
  }
  main .container_ {
   width: calc(100% - 145px);
   overflow: auto;
 }
 
 }